#cookie {
    background-color:#383838;
    text-align: center;
    padding: 10px;
    border-radius: 1em;
}

#cookie p{
    color: #fff;
}

.slideIn {
    animation: 1s ease-out slideIn;
    animation-fill-mode: forwards;
}

@keyframes slideIn {
    0% {
      transform: translateY(-200%);
    }
    100% {
      transform: translateY(0);
    }
  }

  .slideOut {
      animation: 1s ease-out slideOut;
      animation-fill-mode: forwards;
  }

  @keyframes slideOut {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-200%);
    }
  }


button {
    margin-bottom: 10px;
    background-color: orange;
    color: #fff;
    padding: 10px;
    border-radius: 1em;
    border: 0px;
}